

.jumbotron {
    background-image: url("/Users/alexhatheway/Desktop/DataViz/final_project_classes/exoplanet_detector/Background.jpg");
    background-size: 100% 100%;
    text-align: center;
}

.jumbotron h1 {
    color: white;
}

.jumbotron p {
    color: greenyellow;
}