<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <style>
      body {
            background-image: url('/static/images/Background.jpg');
            background-size: cover;
            background-color: black;
        }
    </style>
</head>
<body>
    <div class="container">
        
          <div style="background:transparent !important" class="col-md-12 jumbotron text-center">
            <h1 style="color:white"; style= "text-align:center">Exoplanet Detection:</h1>
            <p style="color:white"><em>an exploration of NASA's Kepler planet-finding telescope dataset</em></p>
            <p style="color:white">
              <h4 style="color:white">
              <a href="/" style="color:lightblue"><b>Project and Data Overview</b></a>
                |
                <a href="machine-learning" style="color:lightblue"><b>Exoplanet Detection with Machine Learning</b></a>
                |
                <b style="color:yellow">Planet Clustering</b>
                |
                <a href="summary" style="color:lightblue"><b>Summary</b></a>
            </h4>
            </p>
          </div>

          <div class="row">
            <h3 style="color:orange">Planet Clusters</h3>
          </div>
      
            <div class="row">
              <h5 style="color:white">
              <p>
                  The attempt at clustering was to see if we could easily decipher habitable planets. The three main components in determining habitability are: mass, radius, and temperature. Exoplanets would have a mass between 0.1 and 10 Earth masses, radius between 0.5 and 2.5 earth radii, and a reasonable temperature (273.15<= x <= 373.15 degrees Kelvin) for it to be considered habitable. After filtering the original dataset down to just the three columns needed for habitability, we proceeded to further break down the data using PCA to reduce the dimensions. Once the data was reduced and filtered, we used an elbow curve to see if there was an ideal number of clusters to start with. The elbow curve was not very informative since the line that was plotted was gradually sloping with no hard corners. Experimenting with different cluster numbers was the next step. The more clusters we used the more cluttered the chart became. 
                Going through the process and creating the 3D scatter plot was a good practice but the resulting chart has too much clutter and is not easy to decipher.  Using this method was not a good identifier for habitability. 
              </p>
              <p>
                <img src="/static/images/3d_Cluster.png">
              </p>

                           
              </h5>
            </div>
        
      
      



        
    </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="stars.js"></script>
      <script src="star-charts.js"></script>

</body>
</html>