<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exoplanet Detection</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <style>
        body {
            background-image: url('/static/images/Background.jpg');
            background-size: cover;
            background-color: black;
            background-blend-mode: darken;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="bg-dark" class= col-md-12>
            <div style="background:transparent !important" class="col-md-12 jumbotron text-center">
            <h1 style="color:white"; style= "text-align:center">Exoplanet Detection:</h1>
            <p style="color:white"><em>an exploration of NASA's Kepler planet-finding telescope dataset</em></p>
            <p style="color:white">
                <b style="color:yellow">Project and Data Overview</b>
                |
                <a href="/machine-learning" style="color:lightblue"><b>Exoplanet Detection with Machine Learning</b></a>
                |
                <a href="/clustering.html" style="color:lightblue"><b>Planet Clustering</b></a>
            </p>
            </div>
          </div>
        </div>
        <div class="row">
        <p style="color:white">Choose a Dataset to View Charts</p>
                <select id="dropdownMenu">
                <option value="Planets">Planets</option>
                <option value="Stars">Stars</option>
                </select>
        <div id="plot"></div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="static/js/script.js"></script>
</body>
</html>

