<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <style>
      body {
            background-image: url('/static/images/Background.jpg');
            background-size: cover;
            background-color: black;
            background-blend-mode: darken;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
          <div style="background:transparent !important" class="col-md-12 jumbotron text-center">
            <h1 style="color:white"; style= "text-align:center">Exoplanet Detection:</h1>
            <p style="color:white"><em>an exploration of NASA's Kepler planet-finding telescope dataset</em></p>
            <p style="color:white">
              <a href="/" style="color:lightblue"><b>Project and Data Overview</b></a>
                |
                <b style="color:yellow">Exoplanet Detection with Machine Learning</b>
                |
                <a href="/clustering.html" style="color:lightblue"><b>Planet Clustering</b></a>
            </p>
        </div>
        <div class="row">
            <h5 style="color:white">Here is Kyle's machine learning page.</h5>
        </div>

        <div class="row">

        </div>


        <div class="row">
            <div class="col-md-2">
              <div class="well">
                <h5>Test Subject ID No.:</h5>
                <!-- <select id="selDataset"></select> -->
                <select id="selDataset" onchange="optionChanged(this.value)"></select>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Star Info</h3>
                </div>
                <div id="sample-metadata" class="panel-body"></div>
              </div>
            </div>
            <div class="col-md-5">
              <div id="bar"></div>
            </div>
            <div class="col-md-5">
              <div id="gauge"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="bubble"></div>
            </div>
          </div>
        </div>

        
    
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="stars.js"></script>
      <script src="star-charts.js"></script>


</body>
</html>

