<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <style>
      body {
            background-image: url('/static/images/Background.jpg');
            background-size: cover;
            background-color: black;
        }
    </style>
</head>
<body>
    <div class="container">
        
          <div style="background:transparent !important" class="col-md-12 jumbotron text-center">
            <h1 style="color:white"; style= "text-align:center">Exoplanet Detection:</h1>
            <p style="color:white"><em>an exploration of NASA's Kepler planet-finding telescope dataset</em></p>
            <p style="color:white">
              <h4 style="color:white">
              <a href="/" style="color:lightblue"><b>Project and Data Overview</b></a>
                |
                <b style="color:yellow">Exoplanet Detection with Machine Learning</b>
                |
                <a href="/clustering" style="color:lightblue"><b>Planet Clustering</b></a>
                |
                <a href="/summary" style="color:lightblue"><b>Summary</b></a>
            </h4>
            </p>
          </div>
        
      
      <div class="row">
      <h3 style="color:orange">Machine Learning</h3>
      </div>



      <div class="row">
        <h3 style="color:orange">Data Processing:</h3>
        <h5 style="color:white">
        The machine learning process started with a table of 49 columns and 9,564 rows. To reduce some of 
        the clutter, every column that was considered an upper or lower constraint of a constraint already 
        displayed in the table was removed. Then we removed all the false_positive_flags so as to not give 
        our machine learning module a cheat sheet. Beyond that we just removed some columns with skewed 
        data and ended up working with 17 columns when all was 
        said and done. Then to further condense our data we removed all the candidate transit events from 
        the exoplanet_archive_disposition because we couldn’t tell how well the machine learning module was 
        at predicting what are planets if we weren’t sure ourselves. That along with removing any missing data 
        resulting in our final 7247 rows and 17 column table.
        </h5>
      </div>

      <div class="row">
        <h3 style="color:orange">Machine Learning Process:</h3>
        <h5 style="color:white">
          we chose to do a neural network for our machine learning model because this family of models has proven effective on a wide variety of large scale datasets. We also wanted to follow in NASA's footsteps as best as we could 
          and they also choose a deep neural network for their machine learning. From there we split the exoplanet_archive_disposition 
          into confirmed and false_positive candidate data and ended up with a good collection of both(2,665 confirmed and 4,582 false positives). 
          The model then splits the data up into train,validate,test data with an 80,10,10 split respectively. 
          We then hyperfit our model on a sweep of architectures and training hyperparameters including 5 hidden layers, up to 60 hidden units per layer, 100 epochs, and 100 iterations, and chose the model with best validation accuracy for our final evaluation on the test partition.
        </h5>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <p></p>
          <h4 style="color:yellow">Precision-Recall Curve:</h4>
          <h5 style="color:white">
          The precision-recall curve we made shows how the precision and recall of our data is related. 
          There is a large area under the curve which shows that the model is predicting values in a 
          skilled manner.  For this project, recall is the most important aspect so that we can identity all of the tranist events that aren't planets. As you can see from the graph, a recall of 1.0 means only 0.4 precision. A good threshold for our model would be in the 0.95 recall range seeing as the precision is double that of the 1.0 recall rate and then we have a good mixture of precison and recall with the higher average being on recall.
          </h5>
        </div>
        <div class="col-md-6">
          <h4 style="color:yellow">Confusion:</h4>
          <h5 style="color:white">
            With 643/725 of the transit events being predicted correctly, this leaves us with an 88.6% accuracy.
            This gives us a pretty accurate model for predicting if a transit event is a planet or not, but not 
            accurate enough to use it as the sole predictor.
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="/static/images/Precision-Recall curve.png" class="center" width="391" height="203">
        </div>
        <div class="col-md-6">
          <img src="/static/images/Confusion_Matrix.png" class="center" width="391" height="203">
        </div>
      </div>



      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <div class="row">
        <div class="col-md-6">
          <h4 style="color:yellow">Classification Report:</h4>
          <h5 style="color:white">
            The classification report shows that precision for false positives is almost .10 more than 
            confirmed transit events.This seems to match with the data since there are more false positives 
            than confirmed planets in the data for the model to train on. But all in all, the average for 
            this model seems to fit at about 88 percent for both precision and recall. 
          </h5>
        </div>
        <div class="col-md-6">
          <img src="/static/images/Classification_report.png">
        </div>
      </div>

      <p>
      </p>
      <p>
        <a href="/clustering" style="color:lightblue"><b>Next ==> Planet Clustering</b></a>
      </p>
      <p>
      </p>
      



        
    </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="stars.js"></script>
      <script src="star-charts.js"></script>

</body>
</html>

<!--
<div class="row">
  <div class="col-md-2">
    <div class="well">
      <h5>Test Subject ID No.:</h5>
      comment out <select id="selDataset"></select> comment out
      <select id="selDataset" onchange="optionChanged(this.value)"></select>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Star Info</h3>
      </div>
      <div id="sample-metadata" class="panel-body"></div>
    </div>
  </div>
  <div class="col-md-5">
    <div id="bar"></div>
  </div>
  <div class="col-md-5">
    <div id="gauge"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="bubble"></div>
  </div>
</div>
</div> -->
