<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <style>
      body {
            background-image: url('/static/images/Background.jpg');
            background-size: cover;
            background-color: black;
        }
    </style>
</head>
<body>
    <div class="container">
        
          <div style="background:transparent !important" class="col-md-12 jumbotron text-center">
            <h1 style="color:white"; style= "text-align:center">Exoplanet Detection:</h1>
            <p style="color:white"><em>an exploration of NASA's Kepler planet-finding telescope dataset</em></p>
            <p style="color:white">
              <h4 style="color:white">
              <a href="/" style="color:lightblue"><b>Project and Data Overview</b></a>
                |
                <a href="machine-learning" style="color:lightblue"><b>Exoplanet Detection with Machine Learning</b></a>
                |
                <a href="/clustering" style="color:lightblue"><b>Planet Clustering</b></a>
                |
                <b style="color:yellow">Summary</b>
            </h4>
            </p>
          </div>
        
      
      



        
    </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="stars.js"></script>
      <script src="star-charts.js"></script>

</body>
</html>